<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Author: Samuel Mailand -->
    <!-- Found at: https://sfmailand-cs4241.herokuapp.com/assignment3-->
    <title>Assignment 3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/site.css">
    <script src="/javascript/assignment3.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="topBar">
        <h1>Information About Sam Mailand (CS4241)</h1>
    </div>
    <div id="pageBody" class="center shadowed">

        <label>Search Text: <input type="text" id="searchText"></input></label>
        <button onclick="search()" value="submit">Search</button>

        <ul id="movieList">
        </ul>

    </div>
</body>

</html>
