<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Author: Samuel Mailand -->
    <!-- Found at: https://sfmailand-cs4241.herokuapp.com/home-->
    <title>Sam Mailand's CS4241-B15 Website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/homePage.css">
    <link rel="stylesheet" href="/CSS/site.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="topBar">
        <h1>Information About Sam Mailand (CS4241)</h1>
    </div>

    <div id="pageBody" class="center shadowed">

        <div id="introParagraph">
            <p>
                My name is Sam Mailand and I am a member of the WPI Class of 2016. I am a computer science major with a minor in electrical and computer engineering.
                <br>
                <br> Last year I traveled to Hong Kong for my IQP and stopped in Japan on my way back to the US. I've included two pictures of my experience to the right.
            </p>
        </div>
        <div id="photos">
            <figure id="kyotoPhoto">
                <img src="/photos/IMG_3425.jpg" alt="Mountain Temple" height="300px">
                <figcaption class="caption">Kyoto, Japan</figcaption>
            </figure>
            <figure id="ccHongKong">
                <img src="/photos/IMG_0631.jpg" alt="Fishing Boats" height="300px">
                <figcaption class="caption">Cheung Chau, Hong Kong</figcaption>
            </figure>
        </div>
        <div id="previousCourses">
            <h2>
                Previous WPI CS Courses
            </h2>
            <ul>
                <li>Software Engineering</li>
                <li>Object Oriented Design and Analysis</li>
                <li>Computer Networks</li>
                <li>Network Security</li>
                <li>Artificial Intelligence</li>
                <li>and many more...</li>
            </ul>
        </div>

        <div id="experience">
            <h2>Experience</h2>

            <table>
                <tr>
                    <td>Language</td>
                    <td>Experience</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>A lot</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>Some</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td>A lot</td>
                </tr>
                <tr>
                    <td>Ruby</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>Some</td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>Some</td>
                </tr>
                <tr>
                    <td>Unit Testing</td>
                    <td>Some</td>
                </tr>
            </table>

        </div>
    </div>

</body>

</html>
