<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Author: Samuel Mailand -->
    <!-- Found at: https://sfmailand-cs4241.herokuapp.com-->
    <title>Sam Mailand's CS4241-B15 Website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/homePage.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>

<body>

    <h1 id="welcomeHeader">Information About Sam Mailand (CS4241)</h1>

    <div id="kyotoPhoto">
        <figure>
            <img src="/photos/IMG_3425.jpg" alt="Mountain Temple" height="300px">
            <figcaption class="caption">Kyoto, Japan - March 2015</figcaption>
        </figure>
    </div>

    <div id="introParagraph">
        <p>
            My name is Sam Mailand and I am a member of the WPI Class of 2016. I am a computer science major with a minor in Electrical and Computer Engineering.
        </p>
    </div>
    <div id="previousCourses">
        <h2>
            Previous WPI CS Courses
        </h2>
        <ul>
            <li>Software Engineering</li>
            <li>Object Oriented Design and Analysis</li>
            <li>Computer Networks</li>
            <li>Network Security</li>
            <li>Artificial Intelligence</li>
            <li>and many more...</li>
        </ul>
    </div>

    <div id="experience">
        <h2>Experience</h2>

        <table>
            <tr>
                <td>Language</td>
                <td>Experience</td>
            </tr>
            <tr>
                <td>HTML</td>
                <td>A lot</td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>Some</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>A lot</td>
            </tr>
            <tr>
                <td>Ruby</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>Some</td>
            </tr>
            <tr>
                <td>Java</td>
                <td>Some</td>
            </tr>
            <tr>
                <td>Unit Testing</td>
                <td>Some</td>
            </tr>
        </table>

    </div>

</body>

</html>
