<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Author: Samuel Mailand -->
    <!-- Found at: https://sfmailand-cs4241.herokuapp.com-->
    <title>Sam Mailand's CS4241-B15 Website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/homePage.css">
</head>

<body>
    <h1>Information about Samuel Mailand</h1>
    <p>
        WPI Class of 2016
    </p>
    <p>
        Computer Science Major
        <br> Electrical and Computer Engineering Minor
    </p>
    <h2>
        Previous WPI CS Courses
    </h2>
    <ul>
        <li>Software Engineering</li>
        <li>Object Oriented Design and Analysis</li>
        <li>Computer Networks</li>
        <li>Network Security</li>
        <li>Artificial Intelligence</li>
        <li>and many more...</li>
    </ul>

    <h2>Experience</h2>
    <p>
        Working experience
    </p>
    <ul>
        <li>HTML (A lot)</li>
        <li>CSS (Some)</li>
        <li>Java (A lot)</li>
        <li>JavaScript (A lot)</li>
        <li>Ruby (None)</li>
        <li>Python (Some)</li>
        <li>Unit Testing (Some)</li>
    </ul>
</body>

</html>
