<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Author: Samuel Mailand -->
    <!-- Found at: https://sfmailand-cs4241.herokuapp.com/assignment3 (ending with /assignment4 will also work)-->
    <title>Assignment 3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/site.css">
    <link rel="stylesheet" href="/CSS/moviesPage.css">
    <script src="/javascript/moviesPage.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body id="content">

    <div id="topBar">
        <h1>Movies</h1>
    </div>
    <div id="pageBody" class="center shadowed">

        <p>Please search below to filter the list of results (case sensitive). A clear search will return the full list.</p>
        <p>This page contains the requirements for both assignment 3 and assignment 4.</p>
        <div id="searchBox">
            <label>Search Text:
                <input type="text" id="searchText" onkeypress="return searchMovie(event)"></input>
            </label>
            <button onclick="search()" value="submit">Search</button>
        </div>

        <div id="addMovieBox">
            <label>Add Movie:
                <input type="text" id="movieToAddToList" onkeypress="return addMovie(event)"></input>
            </label>
                <button onclick="addToMovieList()" value="Add">Add</button>
        </div>

        <div id="movies">
            <h3>
                Movies
            </h3>
            <h4>
                To remove, click the movie title.
            </h4>
            <div id="movieList">
            </div>

        </div>

        <div class="techWorkAssignment3">
            <h4>"Technical Achievement" Work - Assignment 3:</h4>
            <p>
                For the final 10% of the grade basd on "technical achievement" I added some client side javascript.
                <br> This javascript uses the input in the text box to compose a search query that will be used to send a get request to the server.
                <br> The server then uses that search query to filter the list of movies provided for the project and sends back that filtered list
                <br> The client then gets that response and updates the HTML to reflect that filtered list. (No filtering is done on the client).
                <br> The client side javascript also modifies the search query in the URL to reflect what was searched so that the link can be given to others.
                <br> The text box is also autopopulated based on what is in the search query portion of the URL.
            </p>
        </div>


        <div class="techWorkAssignment4">
            <h4>"Technical Achievement" Work - Assignment 4:</h4>
            <p>
                For the final 10% of the grade basd on "technical achievement" I extended on my client side javascript.
                <br>
                More specifically I've added the ability for the movies to be clicked and removed, rather than have a remove button
                <br>
                I've also added a confirmation window to make sure that the user doesn't accidentally delete a movie. I realize that this method
                isn't used as much now, and is generally bad looking, but it's the fastest way to do it and it fit with this assignment.
                <br>
                I do, however, want to make it clear that the list/file on the server is updated any time anything happens on the client (updating HTML).
            </p>
        </div>

    </div>
</body>

</html>
