body {
    background-color: #E2CEB7;
}
h1 {
    background-color: #7CA6DE;
    margin: 0.5em;
    text-align: center;
    border-radius: 1em;
    padding: 0.25em;
    border: solid;
    border-color: #1D1378;
    border-width: thin;
}
