body {
    background-color: #ACF0F2;
    color: 225378;
}

#pageHeader {
    background-color: #1695A3;
    text-align: center;
    border-radius: .25em;
    padding: 0.25em;
    color: #F3FFE2;

}

.center {
    margin: auto;
    width: 10em;
    padding: 10px;
}

#kyotoPhoto {
    float: right;
}
#kyotoPhoto .caption {
    visibility: hidden;
}
#kyotoPhoto:hover .caption{
    visibility: visible;
}

#introParagraph {
    width: 30%;
    float: left;
}

#topBar {
    height: 3em;
    background-color: #225378;
    border-radius: 0.25em;
    text-align: center;
}

#previousCourses {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

#experience {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

#welcomeHeader{
    font-family: 'Open Sans', sans-serif;
    color: #F3FFE2;
    background-color: #225378;
    border-radius: 0.25em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}



table td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
table tr:first-child{
    font-weight: bold;
}
